<div class="container">
  <!-- Example row of columns -->
  <div id="box">
    <h1 class="display-3">
      CRUD
    </h1>
    <p>
      The crud application
    </p>
    <form action="/login" method="post">
      <div class="form-element">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-element">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <!-- CSRF token field -->
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit">Sign In</button>
    </form>
    <a href="./register" class="register-button">Register</a>
  </div>